.content {
  display: flex;
  flex-direction: column;
  min-width: 150px;
}

.button {
  border: 0;
  &:hover {
    background-color: #1890ff;
    color: #fff;
  }
}

.username {
  color: #fff;
  margin-right: 0.5rem;
}

.avatar {
  cursor: pointer;
  background-color: #fff !important;
  color: #000 !important;
  svg {
    width: 18px;
  }
}
